body {
  background-color: black;
  color: white;
  padding: 16px;
}
h1 {
  text-align: center;
}

.company{
  color: red;
}

.grid-container {
  grid-template-columns: repeat(2,auto);
  display: inline-grid;
  gap: 20px 20px;
  width: 100%;
  margin: auto;
}
@media only screen and (min-width: 600px) {
  .grid-container {
    grid-template-columns: repeat(5, auto);
    gap: 50px;
  }
}
.grid-item {
  display: inline-grid;
}
@media only screen and (min-width: 600px) {
  .grid-item {
    width: auto;
  }
}
.css-bdhsul-MuiTypography-root-MuiDialogTitle-root{
  text-align: center;
}
img, .details{
  display: block;
  margin: auto;
}
.css-qfso29-MuiTypography-root-MuiDialogContentText-root{
  text-align: center;
}

